.change{ background:url("change.png") top left no-repeat; }
.change2_fw_r2_c2{ width:46px; height:195px; background-position:-10px -10px; }
.change2_fw_r3_c4{ width:46px; height:46px; background-position:-10px -215px; }

