/*
Version: 3.5.1 Timestamp: Tue Jul 22 18:58:56 EDT 2014
*/
.select-container {
    margin: 0;
    position: relative;
    display: inline-block;
    /* inline-block for ie7 */
    zoom: 1;
    *display: inline;
    vertical-align: middle;
}

.select-container,
.select-drop,
.select-search,
.select-search input {
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.
    More Info : http://www.quirksmode.org/css/box.html
  */
  
 -webkit-box-sizing: border-box; /* webkit */
     -moz-box-sizing: border-box; /* firefox */
          
 box-sizing: border-box; /* css3 */
}

.select-container .select-choice {
    display: block;
    height: 22px;
    padding: 0 0 0 8px;
    overflow: hidden;
    position: relative;

    border: 1px solid #aaa;
    white-space: nowrap;
    line-height: 22px;
    color: #444;
    text-decoration: none;

    /* border-radius: 4px; */

    background-clip: padding-box;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

    background-color: #fff;
}

html[dir="rtl"] .select-container .select-choice {
    padding: 0 8px 0 0;
}

.select-container.select-drop-above .select-choice {
    border-bottom-color: #aaa;
}

.select-container.select-allowclear .select-choice .select-chosen {
    margin-right: 42px;
}

.select-container .select-choice > .select-chosen {
    margin-right: 26px;
    display: block;
    overflow: hidden;

    white-space: nowrap;

    text-overflow: ellipsis;
    float: none;
    width: auto;
}

html[dir="rtl"] .select-container .select-choice > .select-chosen {
    margin-left: 26px;
    margin-right: 0;
}

.select-container .select-choice abbr {
    display: none;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 24px;
    top: 8px;

    font-size: 1px;
    text-decoration: none;

    border: 0;
    background: url('select2.png') right top no-repeat;
    cursor: pointer;
    outline: 0;
}

.select-container.select-allowclear .select-choice abbr {
    display: inline-block;
}

.select-container .select-choice abbr:hover {
    background-position: right -11px;
    cursor: pointer;
}

.select-drop-mask {
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 9998;
    /* styles required for IE to work */
    background-color: #fff;
    filter: alpha(opacity=0);
}

.select-drop {
    width: 100%;
    margin-top: -1px;
    position: absolute;
    z-index: 9999;
    top: 100%;

    background: #fff;
    color: #000;
    border: 1px solid #aaa;
    border-top: 0;

}

.select-drop.select-drop-above {
    margin-top: 1px;
    border-top: 1px solid #aaa;
    border-bottom: 0;

}

.select-drop-active {
    border: 1px solid #5897fb;
    border-top: none;
}

.select-drop.select-drop-above.select-drop-active {
    border-top: 1px solid #5897fb;
}

.select-drop-auto-width {
    border-top: 1px solid #aaa;
    width: auto;
}

.select-drop-auto-width .select-search {
    padding-top: 4px;
}

.select-container .select-choice .select-arrow {
    display: inline-block;
    width: 18px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0px;

    border-left: 1px solid #aaa;

    background-clip: padding-box;

    background: #ccc;
}

html[dir="rtl"] .select-container .select-choice .select-arrow {
    left: 0;
    right: auto;

    border-left: none;
    border-right: 1px solid #aaa;
}

.select-container .select-choice .select-arrow b {
    display: block;
    width: 100%;
    height: 100%;
    background: url('select2.png') no-repeat 0 -1px;
}

html[dir="rtl"] .select-container .select-choice .select-arrow b {
    background-position: 2px 1px;
}

.select-search {
    display: inline-block;
    width: 100%;
    min-height: 26px;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;

    position: relative;
    z-index: 10000;

    white-space: nowrap;
}

.select-search input {
    width: 100%;
    height: auto !important;
    min-height: 26px;
    padding: 4px 20px 4px 5px;
    margin: 0;

    outline: 0;
    font-family: sans-serif;
    font-size: 1em;

    border: 1px solid #aaa;
    border-radius: 0;

    background: #fff url('select2.png') no-repeat 100% -22px;
}

html[dir="rtl"] .select-search input {
    padding: 4px 5px 4px 20px;

    background: #fff url('select2.png') no-repeat -37px -22px;
}

.select-drop.select-drop-above .select-search input {
    margin-top: 4px;
}

.select-search input.select-active {
    background: #fff url('select2-spinner.gif') no-repeat 100%;
}

.select-container-active .select-choice,
.select-container-active .select-choices {
    border: 1px solid #5897fb;
    outline: none;
}

.select-dropdown-open .select-choice {
    border-bottom-color: transparent;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    background-color: #eee;
}

.select-dropdown-open.select-drop-above .select-choice,
.select-dropdown-open.select-drop-above .select-choices {
    border: 1px solid #5897fb;
    border-top-color: transparent;

}

.select-dropdown-open .select-choice .select-arrow {
    background: transparent;
    border-left: none;
    filter: none;
}
html[dir="rtl"] .select-dropdown-open .select-choice .select-arrow {
    border-right: none;
}

.select-dropdown-open .select-choice .select-arrow b {
    background-position: -18px -1px;
}

html[dir="rtl"] .select-dropdown-open .select-choice .select-arrow b {
    background-position: -16px 1px;
}

.select-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* results */
.select-results {
    max-height: 200px;
    padding: 0 0 0 4px;
    margin: 4px 4px 4px 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html[dir="rtl"] .select-results {
    padding: 0 4px 0 0;
    margin: 4px 0 4px 4px;
}

.select-results ul.select-result-sub {
    margin: 0;
    padding-left: 0;
}

.select-results li {
    list-style: none;
    display: list-item;
    background-image: none;
}

.select-results li.select-result-with-children > .select-result-label {
    font-weight: bold;
}

.select-results .select-result-label {
    padding: 3px 7px 4px;
    margin: 0;
    cursor: pointer;

    min-height: 1em;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.select-results-dept-1 .select-result-label { padding-left: 20px }
.select-results-dept-2 .select-result-label { padding-left: 40px }
.select-results-dept-3 .select-result-label { padding-left: 60px }
.select-results-dept-4 .select-result-label { padding-left: 80px }
.select-results-dept-5 .select-result-label { padding-left: 100px }
.select-results-dept-6 .select-result-label { padding-left: 110px }
.select-results-dept-7 .select-result-label { padding-left: 120px }

.select-results .select-highlighted {
    background: #3875d7;
    color: #fff;
}

.select-results li em {
    background: #feffde;
    font-style: normal;
}

.select-results .select-highlighted em {
    background: transparent;
}

.select-results .select-highlighted ul {
    background: #fff;
    color: #000;
}

.select-results .select-no-results,
.select-results .select-searching,
.select-results .select-ajax-error,
.select-results .select-selection-limit {
    background: #f4f4f4;
    display: list-item;
    padding-left: 5px;
}

/*
disabled look for disabled choices in the results dropdown
*/
.select-results .select-disabled.select-highlighted {
    color: #666;
    background: #f4f4f4;
    display: list-item;
    cursor: default;
}
.select-results .select-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select-results .select-selected {
    display: none;
}

.select-more-results.select-active {
    background: #f4f4f4 url('select2-spinner.gif') no-repeat 100%;
}

.select-results .select-ajax-error {
    background: rgba(255, 50, 50, .2);
}

.select-more-results {
    background: #f4f4f4;
    display: list-item;
}

/* disabled styles */

.select-container.select-container-disabled .select-choice {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select-container.select-container-disabled .select-choice .select-arrow {
    background-color: #f4f4f4;
    background-image: none;
    border-left: 0;
}

.select-container.select-container-disabled .select-choice abbr {
    display: none;
}


/* multiselect */

.select-container-multi .select-choices {
    height: auto !important;
    height: 1%;
    margin: 0;
    padding: 0 5px 0 0;
    position: relative;

    border: 1px solid #aaa;
    cursor: text;
    overflow: hidden;

    background-color: #fff;
}

html[dir="rtl"] .select-container-multi .select-choices {
    padding: 0 0 0 5px;
}

.select-locked {
  padding: 3px 5px 3px 5px !important;
}

.select-container-multi .select-choices {
    min-height: 20px;
}

.select-container-multi.select-container-active .select-choices {
    border: 1px solid #5897fb;
    outline: none;
}
.select-container-multi .select-choices li {
    float: left;
    list-style: none;
}
html[dir="rtl"] .select-container-multi .select-choices li
{
    float: right;
}
.select-container-multi .select-choices .select-search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.select-container-multi .select-choices .select-search-field input {
    padding: 1px 5px 0 5px;
    margin: 1px 0;

    font-family: sans-serif;
    font-size: 100%;
    color: #666;
    outline: 0;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: transparent !important;
}

.select-container-multi .select-choices .select-search-field input.select-active {
    background: #fff url('select2-spinner.gif') no-repeat 100% !important;
}

.select-default {
    color: #999 !important;
}

.select-container-multi .select-choices .select-search-choice {
    padding: 2px 5px 2px 18px;
    margin: 2px 0 2px 3px;
    position: relative;

    line-height: 13px;
    color: #333;
    cursor: default;
    border: 1px solid #aaaaaa;

    border-radius: 3px;

    background-clip: padding-box;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

    background-color: #e4e4e4;
}
html[dir="rtl"] .select-container-multi .select-choices .select-search-choice
{
    margin: 3px 5px 3px 0;
    padding: 3px 18px 3px 5px;
}
.select-container-multi .select-choices .select-search-choice .select-chosen {
    cursor: default;
}
.select-container-multi .select-choices .select-search-choice-focus {
    background: #d4d4d4;
}

.select-search-choice-close {
    display: block;
    width: 12px;
    height: 13px;
    position: absolute;
    right: 3px;
    top: 2px;

    font-size: 1px;
    outline: none;
    background: url('select2.png') right top no-repeat;
}
html[dir="rtl"] .select-search-choice-close {
    right: auto;
    left: 3px;
}

.select-container-multi .select-search-choice-close {
    left: 3px;
}

html[dir="rtl"] .select-container-multi .select-search-choice-close {
    left: auto;
    right: 2px;
}

.select-container-multi .select-choices .select-search-choice .select-search-choice-close:hover {
  background-position: right -11px;
}
.select-container-multi .select-choices .select-search-choice-focus .select-search-choice-close {
    background-position: right -11px;
}

/* disabled styles */
.select-container-multi.select-container-disabled .select-choices {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select-container-multi.select-container-disabled .select-choices .select-search-choice {
    padding: 3px 5px 3px 5px;
    border: 1px solid #ddd;
    background-image: none;
    background-color: #f4f4f4;
}

.select-container-multi.select-container-disabled .select-choices .select-search-choice .select-search-choice-close {    display: none;
    background: none;
}
/* end multiselect */


.select-result-selectable .select-match,
.select-result-unselectable .select-match {
    text-decoration: underline;
}

.select-offscreen, .select-offscreen:focus {
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0px !important;
    top: 0px !important;
}

.select-display-none {
    display: none;
}

.select-measure-scrollbar {
    position: absolute;
    top: -10000px;
    left: -10000px;
    width: 100px;
    height: 100px;
    overflow: scroll;
}

/* Retina-ize icons */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx)  {
    .select-search input,
    .select-search-choice-close,
    .select-container .select-choice abbr,
    .select-container .select-choice .select-arrow b {
        background-image: url('selectx2.png') !important;
        background-repeat: no-repeat !important;
        background-size: 60px 40px !important;
    }

    .select-search input {
        background-position: 100% -21px !important;
    }
}
