
.broaden {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0; - webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    filter: alpha(opacity = 0);
}
.reduce {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; - webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    filter: alpha(opacity = 100);
}

.reduce ul, .reduce li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.fix_box {
    left: 50%;
    margin-left: -648px;
    position: fixed;
    bottom: 30px;
    _position: absolute;
    _top: expression(eval(documentElement.scrollTop+document.documentElement.offsetHeight-this.offsetHeight-30));
    z-index: 10000;
    font-family: "Microsoft Yahei";
}
.fix_box .fix_screen_list {
    width: 50px;
    list-style: none;
    position: relative;
    z-index: 10;
    /*overflow: hidden;*/
    margin: 0;
    padding: 0;
}
.fix_box .fix_screen_list li {
    width: 50px;
    height: 50px;
    line-height: 40px;
    position: relative;
    z-index: 5;
    overflow: hidden;
    cursor: pointer;
}
.fix_box .fix_screen_list li a {
    display: block;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    padding-left: 50px;
    height: 40px;
    /*background: url(images/.png) 0 0 no-repeat;*/
    /*_background-image: url(images/fix_box_icon2.png);*/
    cursor: pointer;
}
.fix_box .fix_screen_list li a span {
    padding: 0 15px 0 2px;
    display: inline-block;
    background-color: red;
}
.fix_box .fix_screen_list li .f1 {
    /*background-position: 0 0;*/
}
.fix_box .fix_screen_list li .f2 {
    /*background-position: 0 -40px;*/
}
.icon_alien {
    background: url("images/left_floating/icon_alien.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}
.icon_barbeQ {
    background: url("images/left_floating/icon_barbeQ.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}
.icon_beef {
    background: url("images/left_floating/icon_beef.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}
.icon_cake {
    background: url("images/left_floating/icon_cake.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}
.icon_cheese {
    background: url("images/left_floating/icon_cheese.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}
.icon_chips {
    background: url("images/left_floating/icon_chips.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}
.icon_hamburg {
    background: url("images/left_floating/icon_hamburg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}
.icon_meat {
    background: url("images/left_floating/icon_meat.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}
.icon_pack {
    background: url("images/left_floating/icon_pack.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}
.icon_pizza {
    background: url("images/left_floating/icon_pizza.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}
.icon_start {
    background: url("images/left_floating/icon_start.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}
.icon_time {
    background: url("images/left_floating/icon_time.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}
.icon_vegetable {
    background: url("images/left_floating/icon_vegetable.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}
.icon_wine {
    background: url("images/left_floating/icon_wine.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}