.cat-banner {
    width: 100%;
    height: 8em;
    overflow: hidden;
    position: relative;
}
.cat-banner img {
    width: 100%;
    display: block;
}
.hotnews {
    padding-left: 0.6rem;
}
.ss-nav {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background-color: #fff;
}
.ss-nav .col-25 {
    background-color: #fff;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
.ss-nav .col-25 img {
    width: 55px;
}
.ss-nav h1 {
    font-family: "Microsoft Yahei", "微软雅黑";
    font-size: 0.75rem;
    font-weight: normal;
    color: #272727;
    margin: 0;
}
.search_div {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
}
.search_div .search_container {
    width: 95%;
    border: 1px solid #dddddd;
    display: block;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #F9F9FB;
    border-radius: 4px;
}
.search_div .search_container img {
    width: 22px;
    height: 22px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    vertical-align: middle;
}
.search_div .search_container input.search_input {
    width: 73%;
    height: 100%;
    border: none;
    background-color: #F9F9FB;
    text-indent: 10px;
}
.search_div .search_container input.search_btn {
    border: 1px solid #1EAA39;
    border-radius: 4px;
    padding: 3px 7px 3px 7px;
    color: #fff;
    background-color: #1FA139;
    text-align: center;
}
.list_container {
    display: none;
}
.list_container.curr {
    display: block;
}
.list_bg ul {
    width: 95%;
    min-width: 320px;
    padding-left: 20px;
    padding-right: 5px;
    display: block;
    margin: 0 auto;
    overflow: hidden;

}

.list_bg li {
    width: 49%;
    display: inline-block;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    overflow: visible;
    position: relative;
}

.list_bg li .soldout {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 99;
}

.goods_name {
    width: 100%;
    height: 2.4em;
    margin: 0 auto;;
    text-overflow: ellipsis;;
    color: black;
    overflow: hidden;
    font-size: 1em;
    font-weight: bold;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
}

.goods_price {
    width: 100%;
    height: 20%;
    color: #ee242c;
    padding-top: 5px;
    padding-bottom: 5px;;
    font-size: 18px;
    font-weight: normal;
    background-color: #fff;
    text-align: left;
    vertical-align: middle;
}
.goods_price em {
    float: left;
}

.goods_price s {
    float: left;
    color: #999999;
    font-size: 0.5em;
    text-align: left;
    text-decoration: none;
    font-size: 14px;
    text-indent: 5px;
    line-height: 2em;
}
.btn {
    width: 100%;
    height: 35%;
    display: block;
}

.choice_loft {
    position: relative;
    bottom: 3rem;;
    width: 70%;
    height: 3rem;
    display: block;
    margin: 0 auto;
}
.module .img span {
    width: 100%;
    height: 1.4em;
    display:block;
    color: #fff;
    margin: 0 auto;
    padding-top: 3px;
    padding-left: 5px;
    font-size: 0.875em;
    font-family:"Microsoft YaHei";
    background-color: #333333;
    filter: Alpha(opacity=40);
    -moz-opacity: 0.40;
    opacity: 0.40;
    text-align: left;
    vertical-align: middle;
    overflow: hidden;
    text-wrap: normal;
    line-height: 1em;
}
.detail {
    width: 100%;
    height: 50%;
    display: block;
}
.m_two_col * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.m_two_col a {
    display: block;
}

.m_two_col {
    font-size: 14px;
    width: 100%;
    min-width: 320px;
}

.m_two_col-t li {
    overflow: hidden;
    margin: 0 auto;
    margin-top: 2%;
}

.m_two_col-t li:nth-child(even) {
    margin-top: 2%;
    float: right;
}

.module {
    height:21em;
    margin-right: 2%;
    float: left;
    background-color: #FFF;
    padding: .7em .5em;
    width: 100%;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, .2);
    border: 1px solid rgba(0, 0, 0, .1);
}

.module2 {
    margin-right: 2%;
    float: left;
    background-color: #FFF;
    padding: .7em .5em;
    width: 100%;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, .2);
    border: 1px solid rgba(0, 0, 0, .1);
}

.module2 img {
    width: 100%;
}

.module:last-child {
    margin-right: 0px;
}

.module .img {
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    padding: 2px;
}

.module .img img {
    width: 100%;
}

.module .g_title {
    font-size: .857em;
    height: 2.6em;
    line-height: 1.4em;
    overflow: hidden;
    color: #333333;
    width: 100%;
    margin-top: 6px;
    text-align: left;
    word-break: break-all;
    color: #2F2F2F!important;
}

.module .g_price {
    font-size: 1.07em;
    color: #f75d57;
    text-align: left;
}

.g_price .jdNum {
    font-weight: bold;
}

.soldout {
    position: relative;
    bottom: 5rem;;
    width: 70%;
    height: 70%;
    display: block;
    overflow: hidden;
}

.detail {
    width: 100%;
    height: 50%;
    display: block;
}

.btn1 {
    width: 90%;
    height: 1.3rem;
    margin: 0 auto;
    display: block;
    color: #e10000;
    background-color: #fff;
    border: 1px solid #e10000;
    text-align: center;
    vertical-align: middle;
    line-height: 1.2rem;
    background-size: 100%;
    font-size: 1rem;
    border: 1px solid #ea0000;
}
.row.list_container p {
    width: 90%;
    display: block;
    margin: 0 auto;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 3px;
    color: #999999;
    font-family: "Microsoft Yahei", "微软雅黑";
}
.scroll_more {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.scroll_more p {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color: #999999;
}
.tabs_index {
    width: 100%;
    display: block;
    background-color: #fff;
    overflow: hidden;
    margin-top: 20px;
}
.tabs_index ul {
    width:100%;
    height: 100%;
    margin: 0;
   padding: 0;
}
.tabs_index ul li {
    width: 25%;
    float: left;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

}
.tabs_index  li a {
    width: 95%;
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 13px!important;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    color: #656565;
    font-size: 0.75rem;
}
.tabs_index li.curr a {
    color: #1EAA39;
    padding-bottom: 0;
    border-bottom: 3px solid #1EAA39;
}
/*footer*/
.footer {
    width: 100%;
    display: block;
    margin: 0 auto;
    border-top: 1px solid #E5E5E5;
}
.footer ul {
    width: 95%;
    height: 1.5em;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
}
.footer ul li {
    width: 20%;
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;

}
.footer li a {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    color: #656565;
    text-align: center;
}
.footer li.curr a {
    color: #1EAA39;
}
.footer p {
    font-size: 12px;
    color: #999999;
    text-align: center;
}
.swiper-container-horizontal > .swiper-pagination {
    bottom: 20px;
}
/*响应式调整*/
@media only screen and (max-width: 640px) {
    .module {
        height: 23em;
    }
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 375px) {
    .cat-banner {
        height: 9.5em;
    }
    .swiper-pagination {
        bottom: 30px!important;
    }
}

@media only screen and (max-width: 360px) {
    .module {
        height: 18em;
    }
    .cat-banner {
        height: 9.3em;
    }
    .swiper-pagination {
        bottom: 30px!important;
    }
}
@media only screen and (max-width: 414px) {
    .module {
        height: 19em;
    }
    .cat-banner {
        height: 9.7em;
    }
    .swiper-pagination {
        bottom: 30px!important;
    }
}
@media only screen and (max-width: 320px) {
    .search_input {
        width: 65%!important;
    }
    .module {
        height: 17em;
    }
    .cat-banner {
        height: 8.2em;
    }
    .swiper-pagination {
        bottom: 30px!important;
    }
}

@media only screen and (min-width: 641px) {
    .module {
        height: 32em;
    }
}
