/*author:mefisto
    time:2016/3/15
    add alert style for settle page and others
*/
/*common style*/
.ui-dialog-body {
    margin: 0!important;
    padding: 0!important;
}
.dialog_plus_h4 {
    width: 230px;
    height: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 26px;
    margin-bottom: 25px;
    font-family: simsun;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    text-align: center;
}
.dialog_plus_p {
    width: 295px;
    height: 58px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: simsun,Verdana;
    font-size: 12px;
    color: #666666;
}
/*dialog_plus_danger*/
.dialog_plus_danger .main_pic {
    background-color:#E74C3C ;
}
.dialog_plus_danger .ui-dialog-close {
    position: relative;
    *top:-70px!important;
}
.dialog_plus_danger .ui-dialog-header {
    width: 360px;
    height: 200px;
    display: block;
    background: url("../images/alert04.jpg");
    background-repeat: no-repeat;
    background-position:  center;
    background-color: #E74C3C;
}
.dialog_plus_danger .ui-dialog-footer button.ui-dialog-autofocus {
    width: 260px;
    height: 50px;
    display: block;
    margin: 0 auto;
    font-family: "Microsoft Yahei", "微软雅黑";
    font-size: 16px;
    color: #fff;
    text-align: center;
    background-color:#E74C3C ;
    border-color:#E74C3C ;
    outline: none;
}
.dialog_plus_danger .ui-dialog-footer button.ui-dialog-autofocus:hover,.dialog_plus_danger .ui-dialog-footer button.ui-dialog-autofocus:focus,.dialog_plus_danger .ui-dialog-footer button.ui-dialog-autofocus:active {
    background-color:#E74C3C ;
    border-color:#E74C3C ;
}
.ui-dialog-button {
    float: none;
    margin:  0 auto;
}
/*dialog_plus_ok*/
.dialog_plus_ok .ui-dialog-header {
    background-color: #1C9835;
    border-bottom: none;
}
.dialog_plus_ok .main_pic {
    background-color:#1C9835 ;
}
.dialog_plus_ok .ui-dialog-header {
    width: 360px;
    height: 200px;
    display: block;
    background: url("../images/alert02.jpg");
    background-repeat: no-repeat;
    background-position:  center;
    background-color: #1C9835;
}
.dialog_plus_ok .ui-dialog-footer button.ui-dialog-autofocus {
    width: 260px;
    height: 50px;
    display: block;
    margin: 0 auto;
    font-family: "Microsoft Yahei", "微软雅黑";
    font-size: 16px;
    color: #fff;
    text-align: center;
    background-color:#1C9835 ;
    border-color:#1C9835 ;
    outline: none;
}
.dialog_plus_ok .ui-dialog-footer button.ui-dialog-autofocus:hover,.dialog_plus_ok .ui-dialog-footer button.ui-dialog-autofocus:focus,.dialog_plus_ok .ui-dialog-footer button.ui-dialog-autofocus:active {
    background-color:#1C9835 ;
    border-color:#1C9835 ;
}
.dialog_plus_ok .ui-dialog-button {
    float: none;
    margin:  0 auto;
}
/*dialog_plus_information*/
.dialog_plus_information .main_pic {
    background-color:#FFBB00 ;
}
.dialog_plus_information .ui-dialog-header {
    background-color: #FFBB00;
    border-bottom: none;
}
.dialog_plus_information .ui-dialog-header {
    width: 360px;
    height: 200px;
    display: block;
    background: url("../images/alert05.jpg");
    background-repeat: no-repeat;
    background-position:  center;
    background-color: #FFBB00;
}

.dialog_plus_information .ui-dialog-footer button.ui-dialog-autofocus {
    width: 260px;
    height: 50px;
    display: block;
    margin: 0 auto;
    font-family: "Microsoft Yahei", "微软雅黑";
    font-size: 16px;
    color: #fff;
    text-align: center;
    background-color:#FFBB00 ;
    border-color:#FFBB00 ;
    outline: none;
}
.dialog_plus_information .ui-dialog-footer button.ui-dialog-autofocus:hover,.dialog_plus_information .ui-dialog-footer button.ui-dialog-autofocus:focus,.dialog_plus_information .ui-dialog-footer button.ui-dialog-autofocus:active {
    background-color:#FFBB00 ;
    border-color:#FFBB00 ;
}
.dialog_plus_information .ui-dialog-button {
    float: none;
    margin:  0 auto;
}

