.container {
    width: 1200px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
}
.container h5 {
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.list {
    width: 900px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 30px;
}
.list li {
    width: 900px;
    float: left;
    margin-top: 10px;
}

.list li input,.list li select {
    width: 200px;
    height: 30px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 30px;
    text-indent: 10px;
    font-family: "Microsoft YaHei";
}
 input.submit_btn {
    width: 200px;
    height: 50px;
     display: block;
    background-color: #1eaa39;
    color: #fff;
     border: 1px solid #dddddd;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -webkit-border-radius: 4px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    box-shadow: #00AA00;
     margin: 0 auto;
}
 .list .add_li {
     cursor: pointer;
     color: #00BB00;
 }
.list .remove_li {
     cursor: pointer;
     color: #00BB00;
 }
.list .reborn_btn {
     width: 60px!important;
     height: 30px;
     background-color: #00aff2;
     color: #fff;
     font-size: 14px;
     text-align: center;
     line-height: 30px!important;
     text-indent: 0!important;
 }