.search_div {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
}
.search_div .search_container {
    width: 95%;
    border: 1px solid #dddddd;
    display: block;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #F9F9FB;
    border-radius: 4px;
}
.search_div .search_container img {
    width: 22px;
    height: 22px;
    float: left;
    margin-left: 10px;
    margin-top: 2px;
    vertical-align: middle;
}
.search_div .search_container input.search_input {
    width: 73%;
    height: 100%;
    border: none;
    background-color: #F9F9FB;
    text-indent: 10px;
}
.search_div .search_container input.search_btn {
    border: 1px solid #1EAA39;
    border-radius: 4px;
    padding: 3px 7px 3px 7px;
    color: #fff;
    background-color: #1FA139;
    text-align: center;
}
.tabs_goods_list {
    width: 100%;
    height: 1em;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tabs_goods_list ul {
    width: 100%;
    display: block;
}
.tabs_goods_list li {
    width: 33%;
    float: left;
    font-size: 14px;
}
.tabs_goods_list li a {
    display: block;
    color: #656565;
    text-align: center;
}
.tabs_goods_list li.curr a {
    color: #1FA139;
}
.content_goods_list {
    display: block;
}
.new-mu_l2 {
    padding-top: 10px;
    display: block;
    overflow: hidden;
    clear: both;
    background-color: #FAFAFC;

}
.new-mu_l2 .new-mu_tmb {
    width: 100px;
    height: 100px;
    margin: 0 10px 0 0;
}
.new-mu_tmb img {
    margin-left: 15px;
}
.new-mu_l2cw {
    width: 65%;
    height: 100%;
    padding-bottom: 10px;
    float: right;
    overflow: hidden;
    _zoom: 1;
    border-bottom: 1px solid #EDEDED;
}
.new-mu_l2h {
    height: 3em;
    display: block;
    line-height: 1.4em;
    margin: 5px 0 .3em;
    padding-right: 5px;
    font-size: 14px;
    font-weight: normal;
    color: #6e6e6e;
    overflow: hidden;
    text-overflow: ellipsis;
}
.new-txt-rd2 {
    min-width: 186px;
    font-size: 20px;
    font-weight: bold;
    color: #E3462C;
}
.new-elps {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.new-mu_l2c {
    margin-top: 10px;
    display: block;
    font-size: 20px;
}
.new-txt-rd2 em {
    color: #999999;
    font-size: 12px;
    font-weight: normal;
}
.mu_detail {
    margin-top: 10px;
    display: block;
    font-size: 12px;
    color: #999999;

}
.mu_detail em {
    float: left;
}
.mu_detail em.detail_em2 {
    width: 170px;
    margin-left: 10px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bottm_page {
    width: 100%;
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #FAFAFC;

}
.bottm_page ul {
    width: 90%;
    height: 1.2em;
    display: block;
    margin: 0 auto;
}
.bottm_page ul li {
    width: 25%;
    float: left;
    text-align: center;
    font-size: 12px;
    color: #999999;
    line-height: 2em;
}
.bottm_page li img {
    width: 16px;
    height: 16px;
    margin-top: 5px;
    float: left;
}
.bottm_page a {
    color: #999999;
}
.bottm_page li.middle1 {
    background-color: #fff;
}
.bottm_page li.middle1 em {
    float: left;
    vertical-align: middle;
}
.bottm_page li.middle2 {
    background-color: #fff;
}
.bottm_page li.middle2 em {
    float: right;
    vertical-align: middle;
}
.bottm_page li.middle2 img {
    width: 16px;
    height: 16px;
    margin-top: 5px;
    float: right;
}
.bottm_page .left_icon {
    margin-left: 10px;
}
.bottm_page .right_icon {
    margin-right: 10px;
}


/*响应式兼容*/
@media only screen and (max-width: 640px) {
    .module {
        height: 23em;
    }
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 360px) {
    .detail_em2 {
        width: 160px!important;
    }
}
@media only screen and (max-width: 414px) {
    .module {
        height: 19em;
    }
    .new-mu_l2h {
        line-height: 1.5em;
    }
}
@media only screen and (max-width: 320px) {
    .new-mu_l2cw {
        width: 60%;
    }
    .search_input {
        width: 69%!important;
    }
    .module {
        height: 17em;
    }
    .detail_em2 {
        width: 111px!important;
    }
    .new-mu_l2h {
        line-height: 1.5em;
    }
}

@media only screen and (min-width: 641px) {
    .module {
        height: 32em;
    }
}